@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Poppins:wght@400;600&display=swap");
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(37, 34, 34);
  font-family: "Poppins", sans-serif;
  color: white;
}

form {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin: 1rem;
    width: 15vw;
    height: 2vw;
    border-radius: 0.5rem;
    border: none;
  }

  ::placeholder {
    text-align: center;
  }
}

h1 {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  p {
    color: burlywood;
    text-align: center;
    font-size: 1rem;
    margin: 1.5rem;
  }
}
